// views/searchForm.pug
html
  head
    title Search Form
  body
    h1 Search Form
    form(action="/ps4/search", method="post")
      label(for="searchInput") Enter Search String:
      input(type="text", id="searchInput", name="searchString", required)
      button(type="submit") Search
